body a{
    text-decoration: none;
}


.profile a{
    font-size: 0.94rem;
    font-weight: 500;


}




.secondcolumn {
    margin-top: 80px;
    position: relative;
    left: 28pc;
    top: 205px;
    /* border: 1px solid hsl(0, 2%, 81%); */
    padding: 3px;
}



.secondcolumn img {
    position: relative;
    left: 0pc;
    top: -2px;
    width: 23pc;
    height: 35pc;
}

.comment {
    position: relative;
    left: 0pc;
    top:-2px;
    height: 117px;
    background-color: rgb(255 255 255);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 560px;
}
.comment input[type="text"] {
    width: 25pc;
    margin-top: 4pc;
    height: 28px;
    margin: 0 auto;
    border: none;
    border: solid 1px #ccc;
    border-radius: 10px;
    margin-top: 6px;

}

.btn{
    font-size: 0.9rem;
    font-weight: 600;
    background-color: #f8f9fa;
    margin: 0px;
    padding: 0px;
    margin-left: 13px;
    margin-top: 6px;

}

.thirdcolumn {
    width: 10%;
    position: fixed;
    left: 70pc;
    top: 6pc;
    width: 20pc;
}

.posting{
    position: relative;
    left: -32pc;
    height: 11pc;
    top: 5pc;
    width: 35pc;
}

.posting form {
    background-color: rgb(255 255 255);
    /* background-color: #7b90ce;
    background-image: linear-gradient( 86deg,#5e77c2 10%,#4963ac 100%); */
    border-radius: 8px;
    border: 1px solid #f0e9e9;
    /* position: relative; */
    position: sticky;
    left: 28pc;
    width: 35pc;
    
}

.chatList {
    background-color: rgb(255 255 255);
    /* background-color: #7b90ce;
    background-image: linear-gradient( 
86deg
 ,#5e77c2 10%,#4963ac 100%); */
    border-radius: 8px;
    margin: 0px;
    padding: 12px;
    margin-top: -4pc;
}


.chatList li {
    list-style-type: none;

}

#contact {
    font-size: 1.5rem;
    font-weight: 600;
    color: #56565c;

}

.chatList p {
    font-size: .9375rem;
    font-weight: 500;
    padding: 4px;
    color: rgb(12, 8, 8);
}


.profile {
    margin-left: 10px;
    color: black;
}

.profile a {
    color: black;
}



label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.post {
    border: 1px solid black;
    padding: 10px;
}

.post input[type="text"] {
    border-radius: 15px;
    background-color: #f0f2f5;
    width: 28pc;
    margin-left: 14px;
    padding-left: 20px;
    border: 1px solid white;
}
.post ::placeholder {
  color: rgb(75, 72, 72);
  font-size: 0.945rem;
    font-weight: 600;
    margin-left: 9px;

}



.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
    justify-content: space-between;
}

.bg-white{
    width: 92%;
    background-color: #e8e5e50d!important;
    border-radius: 10px;
}

/* input type image */
.image-upload>input {
    display: none;
  }

/* post botton */

.myButton{
    width: 60px;
    height: 29px;
    font-size: 15px;
    /* margin-top: 3px; */
    font-family: inherit;
    font-weight: 500;
    background-color: #f0f2f5;
    border: 1px solid #f0f2f5;
    border-radius: 10px;
}

